h1 {
color :pink;
}

h2{
 color :pink;
 } 

 body {
    align-items: center;
 }

 p{
    text-align: center;
 }

 a{ text-decoration: none;
color: pink;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }